/* Container for the entire aboutCard section */
.aboutCard {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #171325;
}

/* Container for the content */
.aboutCard__container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

/* Header styles */
.aboutCards__header {
  text-align: center;
  margin-bottom: 40px;
}

.aboutCards__header h2 {
  font-size: 3rem;
  color: #c84200;
  margin-bottom: 10px;
}

.aboutCards__header p {
  font-size: 1.2rem;
  color: #ddd;
}

/* aboutCard item container */
.aboutCard__container--item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
}

/* Individual aboutCard item */
.aboutCard__item {
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background: #28243c;
  transition: transform 0.3s, box-shadow 0.3s;
}

.aboutCard__item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
}

/* Icon styles */
.aboutCard__img {
  font-size: 3rem;
  color: #c84200;
  margin-bottom: 20px;
}

/* Title styles */
.aboutCard__title {
  font-size: 2rem;
  font-weight: 700;
  color: #c84200;
  margin-bottom: 10px;
}

/* List styles */
.aboutCard__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

.aboutCard__list li {
  margin-bottom: 10px;
  color: #f4ecec;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.aboutCard__list li svg {
  margin-right: 10px;
  color: #c84200;
}

/* Button styles */
.aboutCard__btn {
  background-color: #c84200;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: auto; /* Ensures button stays at the bottom */
}

.aboutCard__btn:hover {
  background-color: #a53200;
  transform: scale(1.05);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .aboutCards__header h2 {
    font-size: 2rem;
  }

  .aboutCards__header p {
    font-size: 1rem;
  }

  .aboutCard__title {
    font-size: 2rem;
  }

  .aboutCard__list li {
    font-size: 1rem;
  }

  .aboutCard__btn {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .aboutCards__header h2 {
    font-size: 2rem;
  }

  .aboutCards__header p {
    font-size: 0.9rem;
  }

  .aboutCard__title {
    font-size: 1.5rem;
  }

  .aboutCard__list li {
    font-size: 1rem;
  }

  .aboutCard__btn {
    font-size: 0.8rem;
  }
}
