/* Container for the entire aboutCard section */
.aboutCard {
  padding: 60px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Container for the content */
.aboutCard__container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header styles */
.aboutCards__header {
  text-align: center;
  margin-bottom: 40px;
}

.aboutCards__header h2 {
  font-size: 2.5rem;
  color: #171325;
  margin-bottom: 10px;
}

.aboutCards__header p {
  font-size: 1.2rem;
  color: #555;
}

/* aboutCard item container */
.aboutCard__container--item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}

/* Individual aboutCard item */
.aboutCard__item {
  background: rgb(63, 8, 99);
  background: linear-gradient(
    90deg,
    rgba(63, 8, 99, 0.6194852941176471) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
}

.aboutCard__item:hover {
  transform: translateY(-10px);
  transition: ease-out 0.3s;
}

/* Image styles */
.aboutCard__img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 50%;
}

/* Title styles */
.aboutCard__title {
  font-size: 1.5rem;
  font-weight: 900;
  color: #171325;
  margin-bottom: 10px;
  font-weight: 600;
}

/* List styles */
.aboutCard__list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  width: 100%;
}

.aboutCard__list li {
  margin-bottom: 10px;
  color: #f4ecec;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.aboutCard__list li svg {
  margin-right: 10px;
  color: #171325;
}

/* Button styles */
.aboutCard__btn {
  background-color: #c84200;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: auto; /* Ensures button stays at the bottom */
}

.aboutCard__btn:hover {
  background-color: #a53200;
  transform: scale(1.05);
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .aboutCards__header h2 {
    font-size: 2rem;
  }

  .aboutCards__header p {
    font-size: 1rem;
  }

  .aboutCard__title {
    font-size: 1rem;
  }

  .aboutCard__list li {
    font-size: 0.8rem;
  }

  .aboutCard__btn {
    font-size: 0.9rem;
  }
}
